#deadForm {
	border: solid 1px black;
	padding: 10px;
	background-color: lightgray;
}
	#deadForm div {
		margin: 3px;
		width: 100%;
	}
	#deadForm label {
		display: inline-block;
		width: 50px;
	}
	#deadForm #color {
		width: 50px;
	}
	#deadForm #button {
		text-align: center;
	}
		#deadForm #button #play {
			width: 100px;
		}