body {
	background: gray;
	font-family: sans-serif;
	font-size: 14px;
	margin: 3px;
}

.arena {
	float: left;
	border: solid 1px black;
}

.wrapper {
	background: white;
	border: solid 1px black;
}

#wrapper {
	width: 100%;
}

#rightPanel {
	float: left;
	margin-left: 3px;
}

#tabsContainer {
	margin-bottom: 3px;
	padding: 3px;
	float: left;
}

#chatContainer {
	padding: 0px;
	margin: 0px;
	float: left;
}

#chatForm {
	width: 100%;
}

	#chatForm input {
		margin-left: 1px;
	}

	#chatForm button {
		display: none;
	}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

	#messages li {
		padding: 5px;
	}

		#messages li:nth-child(odd) {
			background: #eee;
		}


#deadForm {
	position: absolute;
	left: 400px;
	top: 250px;
	border: solid 1px black;
	padding: 10px;
	background-color: lightgray;
}
	#deadForm div {
		margin: 3px;
		width: 100%;
	}
	#deadForm label {
		display: inline-block;
		width: 50px;
	}
	#deadForm #color {
		width: 50px;
	}
	#deadForm #button {
		text-align: center;
	}
		#deadForm #button button {
			width: 100px;
		}